.game {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
}

.game__note {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-size: 12px;
  height: 10%;
  justify-content: center;
  margin: auto;
  max-width: 480px;
  padding: 10px;
  width: 100%;
}

.game__buttom {
  display: flex;
  flex-direction: row;
  height: 20%;
  justify-content: space-around;
  margin-top: 30px;
  width: 100%;
}

.game__note button {
  background-color: #fa6965;
  color: white;
  font-size: 15px;
  font-weight: bold;
  height: 30px;
  width: 30%;
}

.game__note a {
  font-size: 15px;
  font-weight: bold;
  padding-bottom: 20px;
  padding-top: 10px;
  text-align: center;
}

.game__note__link {
  text-decoration: underline;
}

.game__scores {
  align-items: center;
  display: flex;
  height: 15%;
  justify-content: space-around;
  margin: 30px auto;
  max-width: 480px;
  width: 100%;
}

.game__grid {
  align-items: center;
  height: 60%;
  justify-content: center;
  margin: 30px auto;
  overflow-x: auto;
  overflow-y: auto;
  width: 90%;
}
