.game-over__app-logo {
  font-size: 100px;
  margin-top: 13px;
}

.game-over {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  justify-content: center;
  margin: auto;
  max-height: 440px;
  max-width: 500px;
  width: 100%;
}

.game-over__header {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-size: 24px;
  font-weight: 800;
  height: 40%;
  justify-content: space-around;
  text-align: center;
}

.game-over__game-logo {
  width: 30%;
}

.game-over__input {
  align-items: center;
  display: flex;
  flex-direction: row;
  height: 10%;
  justify-content: space-around;
  margin: 10px;
  width: 100%;
}

.game-over__button {
  display: flex;
  flex-direction: row;
  height: 20%;
  justify-content: space-around;
  margin-top: 30px;
  width: 100%;
}

.game-over__button button, .game-over__bg-purple {
  background-color: #fa6965;
  color: white;
  height: 30px;
  text-decoration: none;
  padding: 7px;
}

.game-over__note button {
  background-color: #fa6965;
  color: white;
  font-size: 15px;
  font-weight: bold;
  height: 30px;
  margin-top: 30px;
}

.game-over__note a {
  font-size: 15px;
  font-weight: bold;
  text-align: center;
}


